<div class="flex flex-col items-center justify-center bg-gray-900 text-white h-screen px-4">
    <h1 class="font-extrabold text-8xl tracking-wide ">404</h1>
    <p class="text-2xl mt-2 text-gray-400">Opps! Page not found</p>
    <p class="text-2xl mt-4 text-gray-400 ">The page you are looking for does not exist, or has been moved.</p>
    <a class="mt-6 py-3 px-6 bg-blue-500 rounded-lg text-lg hover:bg-blue-600 transition" href="/home">Go to Home</a>
    <div class="flex mt-8 items-center gap-4">
        <a class="text-gray-400 hover:text-white transition" href="/">Need help?</a> <span class="bg-gray-600 w-[1px] h-4"></span>
    <a class="text-gray-400 hover:text-white transition "href="#">Contact us</a>
    </div>
</div>